/* Sticky Footer */
html {
  position: relative;
  min-height: 100%;
}

.index{
   background: url(../img/bg-photo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	margin-bottom: 100px;
}
.footer {
	color:#FFF;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: url(../img/bg-footer.png) repeat; 
	
}

.footer-social{
	min-heigth:100px;
}

.footer-info{
	min-heigth:100px;
}

.names-info{
	padding-top: 50px;
}
/* ----------------------- */

.form-signin{
	margin:0 auto;
	width: 300px;
}

.form-signin .usericon{
	font-size: 110px;
	color: #cecece;
}

.form-register{
	margin:0 auto;
	width: 400px;
}

.form-register .registericon{
	font-size: 80px;
	color: #cecece;
}

.form-register label{
	font-size: 13px;
	color: #000;
}

.index .jumbotron{
	background-color: #FFF;
	opacity: 0.9;
}


.main-container{
	margin-top: 20px;
}
